# SPDX-License-Identifier: GPL-2.0-only

config FPGA_LATTICE
	bool "Lattice FPGAs"
	default y
	help
	  If you have a Lattice FPGA, say Y.

	  Note that the answer to this question doesn't directly affect the
	  kernel: saying N will just cause the configurator to skip all
	  the questions about Lattice FPGAs. If you say Y, you will be asked
	  for your specific device in the following questions.

if FPGA_LATTICE

config FPGA_MGR_ICE40_SPI
	tristate "Lattice iCE40 SPI"
	depends on OF && SPI
	help
	  FPGA manager driver support for Lattice iCE40 FPGAs over SPI.

config FPGA_MGR_MACHXO2_SPI
	tristate "Lattice MachXO2 SPI"
	depends on SPI
	help
	  FPGA manager driver support for Lattice MachXO2 configuration
	  over slave SPI interface.

endif #FPGA_LATTICE
